@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

body{
    background: rgba(29, 29, 29, 0.527) url(https://3.bp.blogspot.com/-kMo7I4HPWTM/U_7fCM3S2SI/AAAAAAAAfrA/PlicyubYQN0/s1600/Wallpaper%2B1080p%2B14.jpg);
    background-attachment: fixed;
    background-blend-mode: hard-light;
    background-position: center;
}

.container{
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    background: url(https://3.bp.blogspot.com/-kMo7I4HPWTM/U_7fCM3S2SI/AAAAAAAAfrA/PlicyubYQN0/s1600/Wallpaper%2B1080p%2B14.jpg);
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.281),
                0 0 0 100px rgba(0, 0, 0, 0.322);
}

.container h2{
    text-align: center;
    font-size: 10em;
    line-height: 0.7em;
    color: #333;
    margin-top: -80px;
    outline-style: #fff;
}
.container h2 span{
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.2em;
}
.countdown{
    display: flex;
    margin-top: 50px;
}
.countdown div{
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
}
.countdown div:before{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    background: yellow;
    color: #333;
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 300;
}

.countdown div#day:before{
    content: 'Days';
}
.countdown div#hour:before{
    content: 'Hours';
}
.countdown div#minute:before{
    content: 'Minutes';
}
.countdown div#second:before{
    content: 'Seconds';
}